.navbar {
  position: relative;
  z-index: 10;
  background-color: #03182a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease;
}

.logo {
  max-width: 120px;
  max-height: 120px;
  margin-left: 20px;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}

.navbar-nav .nav-link,
.navbar-toggler {
  color: white;
  margin-right: 20px;
}

.search-container {
  position: relative;
  margin-right: 20px;
}

.search-input {
  align-items: center;
  justify-content: flex-end;
  width: 290px;
  padding: 12px 30px;
  margin: 8px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid white;
  background-color: #03182a;
  color: white;
}

.search-btn {
  width: 40px;
  height: 40px;
  padding: 10px;
  margin: 8px 0;
  background: #03182a;
  color: white;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

@media only screen and (max-width: 768px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    transition: all 0.5s ease;
  }
  .navbar.navbar-collapse {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: all 0.5s ease-in-out;
  }

  .navbar.navbar-collapse.show {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: all 0.5s ease-in-out;
  }
  .navbar-collapse {
    border-radius: 0 0 10px 10px;
    transition: transform 0.5s ease-in-out;
    transition-timing-function: ease-in-out;
  }
}
